*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* image of home page */
.heade {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(../images/30.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* text-align: center; */
}
.di {
    padding-top: 250px;
    padding-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-size: 90px; */
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}